 body {
    font-family: "Raleway", sans-serif;
    margin: 0;
    padding: 0;
    font-weight: 400;
    letter-spacing: 0.02em;
    font-size: 17px;
  }
  * {
    
    box-sizing: border-box;
  }
  input,
  textarea {
    border: none;
    outline: none;
  }
  button {
    cursor: pointer;
    border: none;
    outline: none;
    background-color: transparent;
  }
  ul,
  li {
    display: block;
    padding: 0;
    margin: 0;
  }
  .section-title {
    font-size: 40px;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    padding: 0;
    margin: 0;
    font-weight: 500;
  }
  section {
    position: relative;
  }
  p {
    margin: 0;
  }
  a {
    color: #000;
    font-size: 13px;
    line-height: 15px;
    letter-spacing: 1.4px;
    transition: all 0.5s ease;
  }
  a:hover {
    text-decoration: none;
    color: bisque;
    transition: all 0.5s ease;
  }
  img {
    max-width: 100%;
    display: block;
    object-fit: cover;
  } 

  /* header */
    .header{
    padding: 28px 0;
  }
  .menu-item{
    text-transform: uppercase;
    font-weight: 400;
    text-decoration: none;
  }
  .menu-list a{
    margin-right: 24px;
  }
  .nav-cart{
    justify-content: flex-end;
  }
  /* hero section */
  .hero{
    background: url(../img/bg-comp.jpg) no-repeat center center;
    background-size: cover;
    padding: 188px 0 197px;
    width: 100%;
  }
  .hero-title{
    font-weight: 400;
    font-size: 43px;
    line-height: 46px;
    text-align: center;
    color: #FFFFFF;
  }
  .hero-desc{
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    text-align: center;
    letter-spacing: 0.8px;
    color: #fff;
    margin: 12px 0 28px;
  }
  .hero-link{
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;
    text-align: center;
    letter-spacing: 1.4px;
    display: block;
  }
  /* end hero section */
  /* start design section */
  .design{
    padding: 80px 0 120px;
  }
  .title{
    text-align: center;
  }
  .design-title{
    font-weight: 400;
    font-size: 43px;
    line-height: 58px;
  }
  .design-desc{
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.8px;
    color: #A0A0A0;
    margin: 20px 0;
  }
  .design-link{
    font-weight: 400;
    font-size: 13px;
    line-height: 21px;
    text-transform: uppercase;
    display: block;
    text-decoration: none;
  }
  .desk{
    margin: 80px 0 50px;
  }
  .desk-title{
    text-align: center;
    font-weight: 400;
    font-size: 27px;
    line-height: 30px;
    margin-bottom: 18px;
  }
  .desk-link{
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;
    text-align: center;
    letter-spacing: 1.4px;
    text-transform: uppercase;
    text-decoration: none;
    display: block;
  }
  /* end design section */
  /* start products */
  .products{
    padding-bottom: 100px;
  }
  .products-title{
    font-weight: 400;
    font-size: 33px;
    line-height: 36px;
    text-align: center;
    margin-bottom: 12px;
  }
  .products-desc{
    color: #A0A0A0;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    text-align: center;
    margin-bottom: 40px;
  }
  .card-img{
    width: 100%;
    height: 60vh;
    object-fit: cover;
  }
  .owl-dot{
    display: inline-block;
    height: 7px !important;
    width: 7px !important;
    background-color: #000 !important;
    margin: 0 16px;
  
  }
  .owl-dots{
    text-align: center;
    margin-top: 10px;
  }
  .owl-dot.active{
    background-color: grey !important;
    width: 7px !important;
    height: 7px !important;
  }
   .card-title, .card-price{
    font-weight: 400;
    font-size: 13px;
    line-height: 21px;
    letter-spacing: 0.7px;
    color: #A0A0A0;
  }
  /* end products */
  /* start inspirations */
  .inspiration{
    background: url(../img/bg-lapt.jpg) no-repeat center center;
    background-size: cover;
    padding: 181px 0;
  }
  .home-office{
    text-align: center;
  }
  .office-title{
    font-weight: 400;
    font-size: 66px;
    line-height: 70px;
    color: #fff;
  }
  .office-desc{
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 0.8px;
    margin: 10px 0 20px;
    color: #FFFFFF;
  }
  /* end inspirations */
  /* start way */
  .way{
    padding: 115px 0 35px;
  }
  .way-img{
    margin: 0 auto;
  }
  .way-title{
    font-weight: 400;
    font-size: 34px;
    line-height: 36px;
    text-align: center;
  }
  .way-desc{
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.8px;
    color: #A0A0A0;
    max-width: 770px;
    margin: 22px auto;
    text-align: center  ;
  }
  /* end way */
  /* start work  */
  .work-title{
    font-weight: 400;
    font-size: 34px;
    line-height: 36px;
    text-align: center;
  }
  .work{
    padding-bottom: 120px;
  }
  .work-desc{
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #A0A0A0;
    max-width: 789px;
    margin: 22px auto 78px;
  }
  .join-title{
    margin: 80px 0 28px;
    text-align: center;
    font-weight: 400;
    font-size: 34px;
    line-height: 36px;
  }
  .join-desc{
    font-weight: 400;
    font-size: 13px;
    line-height: 21px;
    text-align: center;
    letter-spacing: 1.4px;
    text-transform: uppercase;
  }
  /* end work */
  /* start insp */
  .inspires{
    padding: 120px 0;
    background: #9AA8B1;
    max-width: 1340px;
    margin: 0 auto;
  }
  .logo-insp{
    margin: 0 auto;
  }
  .insp-title{
    font-weight: 400;
    font-size: 43px;
    line-height: 58px;
    text-align: center;
    color: #ffff;
    margin: 22px 0;
  }
  .insp-desc{
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.8px;
    color: #fff;
    margin: 0 auto;
  }
  /* end insp*/
  /* start footer */
  .footer{
    padding: 80px 0 10px;
  }
  .footer-menu-item{
    font-weight: 400;
    font-size: 22px;
    line-height: 20px;
    text-decoration: none;
    display: block;
    margin-top: 12px;
  }
  .signup-title{
    font-weight: 400;
    font-size: 22px;
    line-height: 24px;
    margin-top: 12px;
  }
  .btn-up{
    cursor: pointer;
  }
  .signup-desc{
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.8px;
    color: #A0A0A0;
    max-width: 348px;
    margin: 20px 0 30px;
  }
  .form-control{
    border: none !important;
    border-radius: 0% !important;
    border-bottom: 1px solid #000 !important;
    max-width: 320px;
  }
  /* end footer */
  /* start adaptive */
  @media (max-width:992px) {
    .header-hidden{
        display: block;
        padding: 26px 0;
    }
    .inspires{
      padding: 70px 0;
      max-width: 700px;
    }
    .insp-desc{
      line-height: 20px;
    }
    .insp-title{
      line-height: 40px;
    }
    .work-desc{
      margin: 22px auto 31px;
    }
    .work{
      padding-bottom: 50px;
    }
    .inspiration{
      padding: 100px 0;
    }
    .office-title{
      font-weight: 400;
      font-size: 50px;
      line-height: 50px;
      color: #fff;
    }
    .way {
      padding: 60px 0 35px;
  }
    .card-img{
      height: 40vh;
    }
    .menu-btn{
        justify-content: flex-end;
    }
    .menu-hidden{
        display: block;
    }
    .nav{
        display: none;
    }
    .logo-main{
        display: none;
    }
    .menu-list-hidden a{
        text-decoration: none;
        font-size: 13px;
        color: #fff;
    }
    .menu-list-hidden a:hover{
        color: gray;
    }
    .signup-desc{
      margin: 18px 0 0;
    }
    .footer-menu-item{
      font-size: 20px;
    }
    .footer {
      padding: 35px 0 18px;
  }
  }
  @media (max-width:768px) {
    .hero{
        padding: 140px 0 100px;
        margin-top: -45px;
    }
    
    .inspires{
      padding: 50px 0 ;
    }
    .join-title {
      margin: 42px 0 20px;
    }
    .card-img{
      height: 40vh;
    }
    .design{
        padding: 50px 0 70px;
    }
    .design-title{
        font-size: 35px;
        line-height: 30px;
    }
    .desk{
        margin: 50px 0 30px;
    }
    .desk-title{
        font-size: 20px;
        line-height: 18px;
    }
    .desk-link{
        line-height: 8px;
        font-size: 12px;
    }
    .products{
      padding-bottom: 50px;
    }
  }
  @media (max-width:576px) {
    .design{
        padding: 30px 0 40px;
    }
    .btn-up{
      display: none;
    }
    .logo-insp {
      width: 35px;
  }
    .inspires {
      padding: 36px 0;
      max-width: 382px;
  }
  .insp-title {
    line-height: 20px;
    font-size: 30px;
}
.insp-desc {
  line-height: 16px;
  font-size: 12px;
}
    .join-title {
      margin: 16px 0 10px;
      font-size: 28px;
  }
  .work{
    padding-bottom: 24px;
  }
    .way{
      padding: 40px 0 35px;
    }
    .way-title{
      font-size: 28px;
      line-height: 20px;
    }
    .way-desc{
      font-size: 12px;
    }
    .office-desc{
      font-size: 12px;
      line-height: 12px;
    }
    .office-title{
      font-size: 28px;
    }
    .inspiration{
      padding: 80px 0;
    }
    .card-img{
      height: 40vh;
    }
    .products-title{
      font-size: 25px;
    }
    .products-desc{
      font-size: 12px;
      margin-bottom: 23px;
    }
    .design-title{
        font-size: 25px;
        line-height: 15px;
    }
    .design-desc{
        font-size: 12px;
        line-height: 12px
    }
    .desk{
        margin: 29px 0 19px;
    }
    .desk-title{
        font-size: 17px;
        line-height: 9px;
    }
    .logo{
        width: 150px;
    }
    .hero-title{
        font-size: 35px;
    }
    .hero-desc{
        font-size: 13px;
    }
    .hero{
        padding: 90px 0 90px;
    }
    
  }
  @media (max-width:400px) {
    .hero{
        padding: 50px 0 50px;
    }
    .footer-menu-item {
      font-size: 18px;
  }
    .inspires {
      padding: 18px 0;
      max-width: 355px;
  }
  .insp-title {
    line-height: 10px;
}
    .join-desc {
      font-size: 12px;
      line-height: 12px;
      letter-spacing: 0.5px;
  }
    .join-title {
      margin: 25px 0 12px;
      font-size: 25px;
      line-height: 20px;
    }
    .work-desc {
      margin: 12px auto 18px;
      font-size: 13px;
      line-height: 18px;
    }
    .work{
      padding-bottom: 20px;
    }
    .work-title {
      font-size: 22px;
      line-height: 20px;
    }
    .office-title{
      line-height: 25px;
      font-size: 22px;
    }
    .way-desc{
      line-height: 15px;
      margin: 14px auto;
    }
    .way-title{
      font-size: 24px;
    line-height: 15px;
    }
    .inspiration{
      padding: 30px 0;
    }
    .hero-title{
        font-size: 20px;
        line-height: 20px;
    }
    .hero-desc{
        font-size: 12px;
        margin: 4px 0 10px;
    }
  }
  @media (max-width:300px) {
    .logo{
        width: 100px;
    }
    .footer-menu-item {
      font-size: 14px;
      line-height: 24px;
  }
  .signup-title{
    font-size: 20px;
    line-height: 20px;
  }
  .signup-desc{
    font-size: 12px;
    line-height: 16px;
  }
    .inspires {
      padding: 10px 0;
      max-width: 263px;
  }
  .insp-title {
    line-height: 5px;
    font-size: 25px;
  }
  .logo-insp {
    width: 30px;
} 
    .join-title {
      margin: 8px 0 12px;
      font-size: 20px;
      line-height: 15px;
  }
  .join-desc {
    font-size: 11px;
    line-height: 8px;
    letter-spacing: 0.3px;
}
    .desk-title-marg{
        margin-top: -10px;
        line-height: 15px;
    }
    .desk-link-marg{
        line-height: 10px;
        margin-top: -10px;
    }
    .inspiration{
      padding: 50px 0;
    }
    .office-title{
      font-weight: 400;
      line-height: 30px;
      color: #fff;
    }
    .office-desc{
      font-size: 12px;
    }
    .office-link{
      font-size: 12px;
    }
  }
  @media (max-width:200px) {
    .logo{
        width: 80px;
    }
    .hero{
        padding: 40px 0 40px;
    }
    .desk-title{
        line-height: 18px;
    }
    .desk-title-marg, .desk-link-marg{
        margin: 0;
    }
    .desk-link{
        line-height: 15px;
    }
    .way {
      padding: 24px 0 24px;
  }
  }
/* для адаптива меню */
/* Гамбургер иконка */
.menu-btn {
	width: 20px;
	height: 20px;
	position: relative;
	z-index:2;
	overflow: hidden;
}

.menu-btn span {
	width: 20px;
	height: 2px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: #222222;
	transition: all 0.5s;
}

.menu-btn span:nth-of-type(2) {
	top: calc(50% - 5px);
}
.menu-btn span:nth-of-type(3) {
	top: calc(50% + 5px);
}

/* Меняем гамбургер иконку, когда меню открыто */
.menu-btn.active span:nth-of-type(1) {
  display: none;
}
.menu-btn.active span:nth-of-type(2) {
  top: 50%;
  transform: translate(-50%, 0%) rotate(45deg);  
}
.menu-btn.active span:nth-of-type(3) {
  top: 50%;
  transform: translate(-50%, 0%) rotate(-45deg); 
}
.menu-btn{
    z-index: 26;
}

/* Меню, которое будет появляться */
.menu {
	position: fixed;
	top: 0;
	left: 0;
	width: 40%;
	height: 20%;
	padding: 15px;
    background: #000;
	transform: translateX(-100%);
	transition: transform 0.5s; 
    z-index: 25;
}

.menu.active {
	transform: translateX(0);
}

.menu li {
	list-style-type: none;
}
